#content{
    display: flex;
    justify-content: flex-start;
    background-color: lightsalmon;
}
#main-section{
    width: 640px;
    margin: 5px 20px;
    background-color: lightblue;
}
.article-header{
    font-size: 15px;
}
.article-body{
    margin: 5px 10px;
    font-size: 10px;
}
#main-aside{
    margin-left: auto;
    background-color: lightseagreen;
    width: 260px;
    margin-top: 10px;
}
.aside-list-item{
    margin: 10px 0px;
}
#main-footer{
    font-size: 13px;
    margin: 10px 20px;
}